@keyframes line_animation {
  from {
    left: 50%;
    width: 0%; }
  to {
    left: -1%;
    width: 100%; } 
}

@keyframes opacity_animation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


body {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  perspective: 100vw; 

  font: 100%/1.72727273 "Cormorant Garamond", Times, Georgia, serif;
  color: #222;
  font-size: 162.5%;
}

.iScrollVerticalScrollbar {
    top: 0 !important;
    right: 0 !important;
    z-index: 20000 !important;
    bottom: 0 !important;
}

#intro {
  width: calc(100vw - 10px);
  position: relative;
  min-height: 100vh;
  margin-bottom: 600vh;
  z-index: 1000;
  background-color: #fff;
  //border: 10px solid rgb(199, 115, 74);

  border-top: 10px solid #e5e72a;
  border-bottom: 10px solid #e85b06;
  

  webkit-transform: translateY(0vh);
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -o-transform: translateY(0vh);
    transform: translateY(0vh);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.28, 0, 0.18, 1) 0.7s;
  -moz-transition: -moz-transform 1s cubic-bezier(0.28, 0, 0.18, 1) 0.7s;
  transition: transform 1s cubic-bezier(0.28, 0, 0.18, 1) 0.7s;

  &:after{
  	content: "";
  	position: absolute;
    background-image: linear-gradient(0deg,#e85b06,#e5e72a);
  	top: -10px;
  	bottom: -10px;
  	width: 10px;
  	left: 0;
  } 

   &:before{
  	content: "";
  	position: absolute;
    background-image: linear-gradient(0deg,#e85b06,#e5e72a);
  	top: -10px;
  	bottom: -10px;
  	width: 10px;
  	right: -10px;
  } 
}

section {
  display: block; 
}

.scroller {
  position: absolute;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10000;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  z-index: 2000;
  overflow: hidden;
  -webkit-transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1) 1s, visibility 1s cubic-bezier(0.28, 0, 0.18, 1) 1s;
  -moz-transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1) 1s, visibility 1s cubic-bezier(0.28, 0, 0.18, 1) 1s;
  transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1) 1s, visibility 1s cubic-bezier(0.28, 0, 0.18, 1) 1s; 
}

.name-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px; }

h1 {
  color: #222; 
  font-size: 2em;
  font-family: 'Cormorant Garamond', serif;

  animation: opacity_animation 5s forwards; 
}

h2{
  color: #222; 
  font-size: 1.5em;
  line-height: 1.15151515;
  font-family: 'Cormorant Garamond', serif;
  border-bottom: 2px solid #0c9fe3;
 
  padding-bottom: 0.45454545em;

  //margin-bottom: -0.45454545em;
  margin-top: 0;
}

p{
	font-size: 100%;
}

.date{
	position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);

  	-webkit-transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1);
  	-moz-transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1);
  	transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1); 
}

.pull-left {
  float: left; 
}

.pull-right {
  float: right; 
}

.line-container {
  width: 0%;
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  background-image: linear-gradient(0deg,#e85b06,#e5e72a);
  border-top-width: 0px;
  animation: line_animation 3s linear forwards; }

.line {
  display: block;
  text-align: center;
  max-width: 547px;
  border-bottom: solid 2px #0c9fe3;
  margin: 0px auto; 
}

.arrow {
  position: absolute;
  width: 2vw;
  display: block;
  top: 90vh;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: opacity 0.5s cubic-bezier(0.28, 0, 0.18, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.28, 0, 0.18, 1);
  transition: opacity 0.5s cubic-bezier(0.28, 0, 0.18, 1); 
}

.hide {
  opacity: 0; 
}

.figures{
	position: absolute !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    will-change: left;

    img{
    	-webkit-transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1);
    	-moz-transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1);
    	transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1);
    }
}

.one{
    transition: transform 1.25s cubic-bezier(0.28, 0, 0.18, 1) 1.3s;

    -webkit-transform: translateX(0%) scale(1);
    -moz-transform: translateX(0%) scale(1);
    -ms-transform: translateX(0%) scale(1);
    -o-transform: translateX(0%) scale(1);
    transform: translateX(0%) scale(1);
}

.two{
	left: 250vw;
	top: 0vh;
    width: 100vw;
    height: 200vh;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-image: linear-gradient(0deg,#e85b06,#e5e72a);
}

.three{
	left: 100vw;
    z-index: 1000 !important;
}

.about-wrapper{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40vw;
    right: 149px;
}

.schedule-wrapper{
	background-color: #fff;
	height: 90vh;
    width: 95vw;
	position: absolute;
	top: 75%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	padding: 2.27272727em;
  	padding: 2.27272727em;
    box-sizing: border-box;
}

.layout_wrapper{
	display: flex;
	flex-direction: row;

	div{
		width: 50%;
		text-align: center;
	}
}

ul{
	margin: 0;
	padding: 0;
	li{
		list-style-type: none;
	}
}
