$breakpoint-tablet: 768px;
$breakpoint-large: 1680px;

html{
  font: 100%/1.72727273 "Cormorant Garamond", Times, Georgia, serif;
  color: #222;
  font-size: 162.5%;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  font-family: Rubik,OpenSans,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

.sidebar{
  position: fixed;
  right: 2px;
  left: 2px;
  bottom: 36px;
  width: 100%;
  height: 66px;
  padding: 0;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  box-sizing: border-box;

  @media (min-width: 768px) {
    right: auto;
    top: 2px;
    bottom: 2px;
    height: auto;
    width: 60px;
    border-top: 0;
    border-bottom: 0;
  }
}

.sidebar__inner{
  width: 100%;
  margin: 0;
  text-align: center;

  @media (min-width: 768px) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
  }

  span{
    position: relative;
    z-index: 20;
    display: inline-block;
    width: 60px;
    text-align: center;
    font-weight: 700;
    font-family: 'Monoton', cursive;

    @media (min-width: 768px) {
      width: 100%;
      display: block;
    }
  }
}

.span__wrapper{
  margin-bottom: 20px;
}

.main{
  position: relative;
  text-align: center;
  width: 100%;
  height: calc(100vh - 4px);

  @media (min-width: 768px) {
    padding-left: 75px;
  }
}

.main__inner{
  position: relative;
}

.copy{
  padding: 0 0 100px;
  color: #000;
  overflow: auto;
  font-weight: 500;
  text-align: left;
  border-right: 2px solid #000;
  background-image: url(../images/pattern-dots-dense.svg);
  background-size: 5px;

  @media (min-width: 768px) {
    width: 600px;
    padding-bottom: 0;
  }
}

.header{
  position: relative;
  border-bottom: 2px solid #000;
  height: 230px;
  text-align: center;
}

h1{
  margin: 0;
  line-height: 1
}

h3{
  margin: 0;
  line-height: 1
}

.logo{
  font-family: 'Slackey', cursive;
  color: #fff;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   background-image: url(../images/logo.svg);
   background-position: center; 
   position: absolute;
   width: 100%;
   top: 50%;
   transform: translateY(-50%);
}




