$breakpoint-tablet: 768px;
$breakpoint-large: 1680px;

@keyframes spin { 100% 
  { 
    transform:rotate(360deg); 
  } 
}

@keyframes spin-arm { 
  100% 
  { 
    transform:rotate(-4.5deg); 
  } 
}

html{
  font: 100%/1.72727273 "Cormorant Garamond", Times, Georgia, serif;
  color: #222;
  font-size: 162.5%;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: none; 
  font-weight: normal;
}

body {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  font-family: Rubik,OpenSans,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  //background-color: #efefef;
   overflow-x: hidden; 
}

.text-shadow{
  text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,  0 0 2px #000,  0 0 2px #000,
    0 0 2px #000,  0 0 2px #000,  0 0 2px #000,  0 0 2px #000,  0 0 2px #000,  0 0 2px #000,  0 0 2px #000,  0 0 2px #000,  0 0 2px #000;

   @media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 2000px),
    only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 2000px),
    only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 2000px),
    only screen and (        min-device-pixel-ratio: 2) and ( max-width: 2000px),
    only screen and (                min-resolution: 192dpi) and ( max-width: 2000px),
    only screen and (                min-resolution: 2dppx) and ( max-width: 2000px) { 
      text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  }
}

.sidebar{
  position: fixed;
  right: 2px;
  left: 2px;
  bottom: 36px;
  width: 100%;
  height: 66px;
  padding: 0;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 2;
  display: none;
  @media (min-width: 1110px) {
    right: auto;
    top: 2px;
    bottom: 2px;
    height: auto;
    width: 60px;
    border-top: 0;
    border-bottom: 0;
    display: block;
  }
}

.sidebar__inner{
  width: 100%;
  margin: 0;
  text-align: center;

  @media (min-width: 1110px) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
  }

  span{
    position: relative;
    z-index: 20;
    display: inline-block;
    width: 60px;
    text-align: center;
    font-family: 'Monoton', cursive;

    @media (min-width: 1110px) {
      width: 100%;
      display: block;
    }
  }
}

.span__wrapper{
  margin-bottom: 20px;
}

.main{
  position: relative;
  text-align: center;
  width: 100%;
  height: calc(100vh - 4px);

  @media (min-width: 1110px) {
    padding-left: 60px;
  }
}

.main__inner{
  position: relative;
}

.copy{
  color: #000;
  overflow: auto;
  font-weight: 500;
  text-align: left;
  border-right: 2px solid #000;
  width: 100%;

  @media (min-width: 768px) {

    padding-bottom: 0;
  }

  @media (min-width: 1110px) {
    width: 600px;
  }
}

.background{
  background-image: url(../images/pattern-dots-dense.svg);
  background-size: 3px;

  @media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 2000px),
    only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 2000px),
    only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 2000px),
    only screen and (        min-device-pixel-ratio: 2) and ( max-width: 2000px),
    only screen and (                min-resolution: 192dpi) and ( max-width: 2000px),
    only screen and (                min-resolution: 2dppx) and ( max-width: 2000px) { 
       background-color: #7F7F7F;
       background-image: none;
    }
}

.header{
  position: relative;
  border-bottom: 2px solid #000;
  height: 230px;
  text-align: center;
  
}

h1{
  margin: 0;
  line-height: 1
}

h3{
  margin: 0;
  line-height: 1
}

.logo{
  font-family: 'Slackey', cursive;
  color: #fff;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   background-image: url(../images/logo.svg);
   background-position: center; 
   position: absolute;
   width: 100%;
   top: 50%;
   transform: translateY(-50%);
}

.section{
  text-align: center;
  overflow: visible;
  margin: 0;
  vertical-align: top;
  border: 2px solid #000;
  overflow: auto;
  border-left: 0;
  border-right: 0;
  position: relative;
  display: block;
  margin-top: -2px;
  border-top: 2px solid #000;
  padding: 38px 0;
  width: 100%;

  @media (min-width: 1110px) {
    width: 600px;
  }
}

.subline{
    height: 50px;
    width: 100%;
    background-repeat: repeat;
    font-family: 'Candal', sans-serif;
}


.inner{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


.husband-wife-wrapper{
  height: 150px;
  width: 100%;


  .husband-wife-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    //color: #fff;
  }

  h1{
    color: #fff;
    display: block;
    font-family: 'Fugaz One', cursive;
  }

  span{
    color: #fff;
    font-size: 30px;
    margin-top: -5px;
    color: #f7cccc;
  }

  @media (min-width: 1110px) {
    width: 600px;
  }
}

.location{
  font-family: 'Candal', sans-serif;
  height: 250px;
  color: #fff;
  
  span{
    display: block;
  }

  a{
    margin-top: 20px;
  }

}

a{
    text-shadow: none;
    height: 50px;
    width: 220px;
    border: 1px solid #000;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    font-family: 'Candal', sans-serif;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: #f7cccc;
    box-shadow: 0 1px 0 #000, 0 -1px 0 #000, 1px 0 0 #000, -1px 0 0 #000;

    &:hover{
      background-repeat: repeat;
      background-image: url(../images/pattern-dots-dense.svg);
      background-size: 3px;
    }
  }

.introducing{
   font-family: 'Candal', sans-serif;
}

.theo{
  font-family: 'Ruslan Display', cursive;
  color: #fff;
  height: 150px;
   
    font-size: 90px;

    span{
      color: #f7cccc;
    }
}

.support{
   font-family: 'Candal', sans-serif;
}

.record{
  display: block;
  position: relative;
  max-width: none;
 height: 400px;

  @media (min-width: 1110px) {
    position: fixed;
    top: 2px;
    left: 660px;
    right: 2px;
    bottom: 2px;
    height: 100%;
  }
}

.vinyl{
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  padding-bottom: 50px;

  @media (min-width: 1110px) {
      width: 410px;
      height: 410px;
      padding-bottom:0;
  }
  
  @media (min-width: 1300px) {
    width: 600px;
    height: 600px;
   }
  
}

.vinyl-image{
  width: 240px;
  height: 240px;
  transform-origin: 49%;
  background-repeat: no-repeat;
  background-image: url(../images/big-vinyl.svg);
  transform-origin: 50% 50%;

   @media (min-width: 1110px) {
      width: 330px;
      height: 330px;
   }

  @media (min-width: 1300px) {
    width: 520px;
    height: 520px;
   }
}

.animate{
  animation:spin 4s linear infinite;
}

.vinyl-arm{
  position: absolute;
   top: 0;
    
  transform-origin: 200px 0px;
  transform: rotate(-24.5deg);
  background-repeat: no-repeat;
  background-image: url(../images/arm.svg);


  width: 110px;
    right: 59px;
    height: 270px;

    @media (min-width: 1110px) {
      width: 150px;
      right: 20px;
      height: 310px;
    }

  @media (min-width: 1300px) {
    top: 90px;
    width: 200px;
    right: 0;
  }

}

.arm-animate{
  animation:spin-arm .5s linear forwards;
}

.youtube-wrapper{
  position: absolute;
  left: -300vw;
}

.play-btn{
  margin-top: 60px;
}

.families{
 
}

.Gannons{
 font-family: 'Megrim', cursive;
  color: #fff;
 
    font-size: 90px;

    span{
       color: #f7cccc;
    }
}

.mccreanors{
  font-family: 'Iceland', cursive;

  color: #fff;
  
    font-size: 120px;
    position: relative;

    span{
      color: #f7cccc;
      display: block;
      position: absolute;
      top: 21px;
      left: 159px;
      font-size: 62px;

     @media (min-width: 1300px)  {
      top: 7px;
      left: 91px;
      font-size: 42px;
      }
    }
}

.friends{
  font-family: 'Monofett', cursive;
  font-style: normal;
    font-weight: 400;
    line-height: 1.10909;
    font-size: 40px;

  color: #f7cccc;
   

    position: relative;
}

.attire{
  font-family: 'Candal', sans-serif;
  color: #fff;
 
  span{
    display: block;
  }
  a{
    margin-top: 20px;
    text-shadow: none;
  }
}

.lost{

  color: #fff;
  font-family: 'Candal', sans-serif;
  
  h1{
     color: #f7cccc;
  }

}
