@charset "UTF-8";
@keyframes line_animation {
  from {
    left: 50%;
    width: 0%; }
  to {
    left: -1%;
    width: 100%; } }

@keyframes opacity_animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  perspective: 100vw;
  font: 100%/1.72727273 "Cormorant Garamond", Times, Georgia, serif;
  color: #222;
  font-size: 162.5%; }

.iScrollVerticalScrollbar {
  top: 0 !important;
  right: 0 !important;
  z-index: 20000 !important;
  bottom: 0 !important; }

#intro {
  width: calc(100vw - 10px);
  position: relative;
  min-height: 100vh;
  margin-bottom: 800vh;
  z-index: 1000;
  background-color: #fff;
  border-top: 10px solid #e5e72a;
  border-bottom: 10px solid #e85b06;
  webkit-transform: translateY(0vh);
  -moz-transform: translateY(0vh);
  -ms-transform: translateY(0vh);
  -o-transform: translateY(0vh);
  transform: translateY(0vh);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.28, 0, 0.18, 1) 0.7s;
  -moz-transition: -moz-transform 1s cubic-bezier(0.28, 0, 0.18, 1) 0.7s;
  transition: transform 1s cubic-bezier(0.28, 0, 0.18, 1) 0.7s; }
  #intro:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(0deg, #e85b06, #e5e72a);
    top: -10px;
    bottom: -10px;
    width: 10px;
    left: 0; }
  #intro:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(0deg, #e85b06, #e5e72a);
    top: -10px;
    bottom: -10px;
    width: 10px;
    right: -10px; }

section {
  display: block; }

.scroller {
  position: absolute;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10000;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  z-index: 2000;
  overflow: hidden;
  -webkit-transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1) 1s, visibility 1s cubic-bezier(0.28, 0, 0.18, 1) 1s;
  -moz-transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1) 1s, visibility 1s cubic-bezier(0.28, 0, 0.18, 1) 1s;
  transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1) 1s, visibility 1s cubic-bezier(0.28, 0, 0.18, 1) 1s; }

.name-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px; }

h1 {
  color: #222;
  font-size: 2em;
  font-family: 'Cormorant Garamond', serif;
  animation: opacity_animation 5s forwards; }

h2 {
  color: #222;
  font-size: 1.5em;
  line-height: 1.15151515;
  font-family: 'Cormorant Garamond', serif;
  border-bottom: 2px solid #0c9fe3;
  padding-bottom: 0.45454545em;
  margin-top: 0; }

h3 {
  font-size: 1.2em;
  margin-top: 0;
  padding: 0; }
  h3:after {
    content: '';
    display: block;
    margin: 0.81818182em auto 0;
    height: 0.3030303em;
    width: 2.30303031em;
    background-color: #0c9fe3; }
  @media (min-width: 1040px) {
    h3 {
      font-size: 1em; } }

h4 {
  font-size: .75em;
  margin-bottom: 0;
  padding: 0; }

p {
  font-size: 1em;
  margin: 0; }
  @media (min-width: 1040px) {
    p {
      font-size: .75em; } }

li {
  font-size: 0.75em; }

a {
  color: #222;
  transition: color .35s ease-out; }
  a:hover {
    color: #0c9fe3; }

.date {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100%;
  -webkit-transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1);
  -moz-transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1);
  transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1); }
  @media (min-width: 768px) {
    .date {
      font-size: 125%; } }
  @media (min-width: 1040px) {
    .date {
      font-size: 100%; } }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.line-container {
  width: 0%;
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  background-image: linear-gradient(0deg, #e85b06, #e5e72a);
  border-top-width: 0px;
  animation: line_animation 3s linear forwards; }

.line {
  display: block;
  text-align: center;
  max-width: 547px;
  border-bottom: solid 2px #0c9fe3;
  margin: 0px auto; }

.arrow {
  position: absolute;
  width: 6vw;
  display: block;
  top: 80vh;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: opacity 0.5s cubic-bezier(0.28, 0, 0.18, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.28, 0, 0.18, 1);
  transition: opacity 0.5s cubic-bezier(0.28, 0, 0.18, 1); }
  @media (min-width: 768px) {
    .arrow {
      width: 4vw; } }
  @media (min-width: 1040px) {
    .arrow {
      width: 2vw; } }

.hide {
  opacity: 0; }

.figures {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  will-change: left; }
  .figures img {
    width: 100%;
    -webkit-transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1);
    -moz-transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1);
    transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1); }
    @media (min-width: 1040px) {
      .figures img {
        width: auto; } }

.one {
  transition: transform 1.25s cubic-bezier(0.28, 0, 0.18, 1) 1.3s;
  transform: translateX(0%) scale(1); }

.two {
  left: 250vw;
  top: 0vh;
  width: 100vw;
  height: 200vh;
  transform: translateX(-50%) translateY(-50%);
  background-image: linear-gradient(0deg, #e85b06, #e5e72a);
  z-index: 40000 !important; }

.three {
  left: 100vw;
  z-index: 1000 !important; }

.image-wrapper img {
  width: 100%;
  margin-top: -250px; }
  @media (min-width: 1280px) {
    .image-wrapper img {
      margin-top: 0;
      width: auto; } }

.about-wrapper {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
  padding-top: 50px;
  background-color: #fff;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding: 50px 50px 230px;
  box-sizing: border-box; }
  @media (min-width: 1280px) {
    .about-wrapper {
      width: 35vw;
      left: auto;
      right: .5%;
      top: 50%;
      transform: translate(0, -50%);
      padding: 0;
      bottom: auto; } }
  @media (min-width: 1500px) {
    .about-wrapper {
      width: 35vw;
      left: auto;
      right: 5%; } }
  @media (min-width: 1500px) {
    .about-wrapper {
      width: 40vw;
      left: auto;
      right: auto;
      left: 55%; } }

.schedule-wrapper {
  background-color: #fff;
  height: 100vh;
  width: 95vw;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  box-sizing: border-box; }
  @media (min-width: 1040px) {
    .schedule-wrapper {
      padding: 2em; } }

.layout_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }
  .layout_wrapper .sections {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 4em; }
    @media (min-width: 1040px) {
      .layout_wrapper .sections {
        width: calc(34% - 50px);
        min-height: 90%;
        margin-bottom: 0; } }
    .layout_wrapper .sections:after {
      content: "▪ ▪ ▪";
      display: block;
      text-align: center;
      color: #0c9fe3;
      position: absolute;
      bottom: -80px;
      left: 50%;
      transform: translateX(-50%); }
      @media (min-width: 1040px) {
        .layout_wrapper .sections:after {
          bottom: 0; } }

@media (min-width: 1040px) {
  .schedule-item {
    min-height: 370px; } }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }
