@keyframes spin {
  100% {
    transform: rotate(360deg); } }

@keyframes spin-arm {
  100% {
    transform: rotate(-4.5deg); } }

html {
  font: 100%/1.72727273 "Cormorant Garamond", Times, Georgia, serif;
  color: #222;
  font-size: 162.5%;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: none; }

body {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  font-family: Rubik,OpenSans,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

.sidebar {
  position: fixed;
  right: 2px;
  left: 2px;
  bottom: 36px;
  width: 100%;
  height: 66px;
  padding: 0;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 2;
  display: none; }
  @media (min-width: 1110px) {
    .sidebar {
      right: auto;
      top: 2px;
      bottom: 2px;
      height: auto;
      width: 60px;
      border-top: 0;
      border-bottom: 0;
      display: block; } }

.sidebar__inner {
  width: 100%;
  margin: 0;
  text-align: center; }
  @media (min-width: 1110px) {
    .sidebar__inner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 60px; } }
  .sidebar__inner span {
    position: relative;
    z-index: 20;
    display: inline-block;
    width: 60px;
    text-align: center;
    font-weight: 700;
    font-family: 'Monoton', cursive; }
    @media (min-width: 1110px) {
      .sidebar__inner span {
        width: 100%;
        display: block; } }

.span__wrapper {
  margin-bottom: 20px; }

.main {
  position: relative;
  text-align: center;
  width: 100%;
  height: calc(100vh - 4px); }
  @media (min-width: 1110px) {
    .main {
      padding-left: 60px; } }

.main__inner {
  position: relative; }

.copy {
  padding: 0 0 100px;
  color: #000;
  overflow: auto;
  font-weight: 500;
  text-align: left;
  border-right: 2px solid #000;
  width: 100%; }
  @media (min-width: 768px) {
    .copy {
      padding-bottom: 0; } }
  @media (min-width: 1110px) {
    .copy {
      width: 600px; } }

.header {
  position: relative;
  border-bottom: 2px solid #000;
  height: 230px;
  text-align: center;
  background-image: url(../images/pattern-dots-dense.svg);
  background-size: 5px; }

h1 {
  margin: 0;
  line-height: 1; }

h3 {
  margin: 0;
  line-height: 1; }

.logo {
  font-family: 'Slackey', cursive;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-image: url(../images/logo.svg);
  background-position: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }

.section {
  text-align: center;
  overflow: visible;
  margin: 0;
  vertical-align: top;
  border: 2px solid #000;
  overflow: auto;
  border-left: 0;
  border-right: 0;
  position: relative;
  display: block;
  margin-top: -2px;
  border-top: 2px solid #000;
  padding: 15px 0;
  width: 100%; }
  @media (min-width: 1110px) {
    .section {
      width: 600px; } }

.subline {
  height: 50px;
  width: 100%;
  background-repeat: repeat;
  font-family: 'Candal', sans-serif; }

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }

.husband-wife-wrapper {
  height: 150px;
  background-repeat: repeat;
  background-image: url(../images/pattern-dots-dense.svg);
  background-size: 5px;
  width: 100%; }
  .husband-wife-wrapper .husband-wife-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
  .husband-wife-wrapper h1 {
    color: #fff;
    display: block;
    font-family: 'Fugaz One', cursive;
    text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000; }
  .husband-wife-wrapper span {
    color: #fff;
    font-size: 30px;
    margin-top: -5px;
    color: #f7cccc;
    text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000; }
  @media (min-width: 1110px) {
    .husband-wife-wrapper {
      width: 600px; } }

.location {
  background-repeat: repeat;
  background-image: url(../images/pattern-dots-dense.svg);
  background-size: 5px;
  font-family: 'Candal', sans-serif;
  height: 250px;
  color: #fff;
  text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000; }
  .location span {
    display: block; }

a {
  height: 50px;
  width: 220px;
  border: 1px solid #000;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  font-family: 'Candal', sans-serif;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-color: #f7cccc;
  box-shadow: 0 1px 0 #000, 0 -1px 0 #000, 1px 0 0 #000, -1px 0 0 #000; }
  a:hover {
    background-repeat: repeat;
    background-image: url(../images/pattern-dots-dense.svg);
    background-size: 5px; }

.introducing {
  font-family: 'Candal', sans-serif; }

.theo {
  background-repeat: repeat;
  background-image: url(../images/pattern-dots-dense.svg);
  background-size: 5px;
  font-family: 'Ruslan Display', cursive;
  color: #fff;
  height: 150px;
  text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000;
  font-size: 90px; }
  .theo span {
    color: #f7cccc; }

.support {
  font-family: 'Candal', sans-serif; }

.record {
  display: none;
  position: fixed;
  top: 2px;
  left: 660px;
  right: 2px;
  bottom: 2px;
  max-width: none; }
  @media (min-width: 1110px) {
    .record {
      display: block; } }

.vinyl {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 410px;
  height: 410px;
  margin: 0 auto;
  transform: translate(-50%, -50%); }
  @media (min-width: 1300px) {
    .vinyl {
      width: 600px;
      height: 600px; } }

.vinyl-image {
  width: 330px;
  height: 330px;
  transform-origin: 49%;
  background-repeat: no-repeat;
  background-image: url(../images/big-vinyl.svg);
  transform-origin: 50% 50%; }
  @media (min-width: 1300px) {
    .vinyl-image {
      width: 520px;
      height: 520px; } }

.animate {
  animation: spin 4s linear infinite; }

.vinyl-arm {
  position: absolute;
  top: 0;
  width: 150px;
  right: 20px;
  height: 310px;
  transform-origin: 200px 0px;
  transform: rotate(-24.5deg);
  background-repeat: no-repeat;
  background-image: url(../images/arm.svg); }
  @media (min-width: 1300px) {
    .vinyl-arm {
      top: 90px;
      width: 200px;
      right: 0; } }

.arm-animate {
  animation: spin-arm .5s linear forwards; }

.youtube-wrapper {
  position: absolute;
  left: -300vw; }

.play-btn {
  margin-top: 60px; }

.families {
  background-repeat: repeat;
  background-image: url(../images/pattern-dots-dense.svg);
  background-size: 5px; }

.Gannons {
  font-family: 'Megrim', cursive;
  color: #fff;
  text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000;
  font-size: 90px; }
  .Gannons span {
    color: #f7cccc; }

.mccreanors {
  font-family: 'Iceland', cursive;
  color: #fff;
  text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000;
  font-size: 120px;
  position: relative; }
  .mccreanors span {
    color: #f7cccc;
    display: block;
    position: absolute;
    top: 7px;
    left: 91px;
    font-size: 42px; }

.friends {
  font-family: 'Monofett', cursive;
  font-style: normal;
  font-weight: 400;
  line-height: 1.10909;
  font-size: 40px;
  color: #f7cccc;
  text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000;
  position: relative; }

.attire {
  background-repeat: repeat;
  background-image: url(../images/pattern-dots-dense.svg);
  background-size: 5px;
  font-family: 'Candal', sans-serif;
  color: #fff;
  text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000; }
  .attire span {
    display: block; }
  .attire a {
    margin-top: 20px; }

.lost {
  background-repeat: repeat;
  background-image: url(../images/pattern-dots-dense.svg);
  background-size: 5px;
  color: #fff;
  font-family: 'Candal', sans-serif;
  text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000, 0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000,  0 0 4px #000; }
  .lost h1 {
    color: #f7cccc; }
